body {
  background: rgb(10, 231, 3);
}
h1 {
  color: black;
  margin: 20px 0px;
  cursor: default;
  font-size: 40px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

p,
p:hover {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  cursor: default;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: white;
}
button {
  width: 80px;
  margin: 10px auto;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(10, 231, 3);
  font-family: "Bebas Neue", cursive;
  background: black;
}
